<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2>Edit your listing</h2>
        <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="listing[title]" value="<%=listing.title%>">
            </div>
           <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="listing[description]"><%=listing.description%></textarea>
           </div>
           <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input class="form-control" type="text" name="listing[image]" value="<%=listing.image%>">
           </div>
           <div class="row">
               <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" type="number" name="listing[price]" value="<%=listing.price%>">
               </div>
               <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input class="form-control" type="text" name="listing[country]" value="<%=listing.country%>">
               </div>
           </div>
           <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" name="listing[location]" value="<%=listing.location%>">
           </div>
            <button class="btn btn-dark add-btn mt-3">Edit</button>
            <br><br>
        </form>
    </div>
</div>
    