<% layout("/layouts/boilerplate")-%>
    <br><br>
    <div class="row">
        <div class="col-8 offset-3">
            <h3>
                <%=listing.title%>
            </h3>
        </div>
        <div class="card col-6 offset-3 show-card listing-card">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text">Owned By: 
                    <i>
                        <%= listing.owner.username %>
                    </i>
                </p>
                <p class="card-text">
                    <%=listing.description%>
                </p>
                <p class="card-text"> &#x20B9;<%=listing.price.toLocaleString("en-IN")%> </p>
                <p class="card-text">
                    <%=listing.location%>
                </p>
                <p class="card-text">
                    <%=listing.country%>
                </p>

            </div>
        </div>

        <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
        <div class="btns">
            <a 
              href="/listings/<%=listing._id%>/edit" 
              class="btn btn-dark col-1 offset-3 add-btn"
              >Edit</a
            >
            <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>
        <% } %>


        <div class="col-8 offset-3 mb-3">
            <hr>
            <% if(currUser) {%>
            <h4>Leave a review</h4>
            <form action="/listings/<%=listing._id%>/reviews" method="post" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-label" for="comment">Comments</label>
                    <textarea name="review[comment]" class="form-control" id="comment" cols="30" rows="5"
                        required></textarea>
                    <div class="invalid-feedback">Please add some comments for review</div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr>
            <% } %>
            
            <p><b>All Reviews</b></p>
            <div class="row">
                <% for(review of listing.reviews) {%>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%=review.author.username%></h5>
                            <p class="card-text">
                                <%= review.comment %>
                            </p>
                            <p class="card-text">
                                <%= review.rating %> star
                            </p>
                        </div>
                        <br>
                        <form class="mb-3" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
                            method="post">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>

    </div>